export DB_CONN_STRING="postgres://admin:adminpassword@localhost:5432/ecommerce_db?sslmode=disable"
export PORT=":8000"
export APP_ENV="development"
export JWT_SECRET="my-secret-code-for-jwt"
export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING="postgres://admin:adminpassword@localhost:5432/ecommerce_db?sslmode=disable"
export GOOSE_MIGRATION_DIR="internal/migrate/migrations"
export REDIS_URL="rediss://default:gQAAAAAAAXScAAIgcDIxZTY5YTkxZjQ2YjI0NWQ4YjQ4ZWJmMzU1NDA5NWUzMQ@pumped-yak-95388.upstash.io:6379"