export DB_CONN_STRING="postgres://admin:adminpassword@localhost:5432/ecommerce_db?sslmode=disable"
export PORT=":8000"
export APP_ENV="development"
export JWT_SECRET="my-secret-code-for-jwt"
export GOOSE_DRIVER="postgres"
export GOOSE_DBSTRING="user=admin password=adminpassword dbname=ecommerce_db"
export GOOSE_MIGRATION_DIR="internal/migrate/migrations"